# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Output PDF files
*.pdf
*.png
output/
*.pdf

# VSCode settings
.vscode/

# Environment variables
.env

# macOS specific files
.DS_Store

# Python virtual environments
venv/
.env/
.env.bak/
pip-selfcheck.json

# Log files
*.log
